<header class="box-between">
    <div class="container">
        <i class="fa-solid fa-bars"></i>
    </div>
    <div class="container box-center">
        <img class="logo" src="logo.svg" title="SocialFast" alt="social-fast-logo">
    </div>
    <div class="container box-end">
        <div id="wrap">
            <form action="" autocomplete="off">
                <label for="search"></label>
                <input id="search" name="search" type="text" placeholder="Que recherchez-vous ?">
                <i class="fa-solid fa-magnifying-glass"></i>
            </form>
        </div>
        <div class="m-l-1 box-between">
            <i class="fa-regular fa-comments m-l-1"></i>
            <i class="fa-regular fa-bell m-l-1"></i>
            <i class="fa-regular fa-circle-user m-l-1"></i>
        </div>
    </div>
</header>