$black: #000;
$near-black: #1A1423;
$dark-purple: #372549;
$lavande: #774C60;
$pink: #B75D69;
$near-white: #EEEEEE;
$white: #FFF;

$color-1: $near-black;
$color-2: $lavande;
$color-3: $pink;
$color-4: $near-white;