.container {
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}

.box-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-between-no-align {
  display: flex;
  justify-content: space-between;
}

.box-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.box-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}