.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.m-l-1 {
  margin-left: 1vw;
}

.m-l-2 {
  margin-left: 2vw;
}

.m-l-3 {
  margin-left: 3vw;
}

.m-l-4 {
  margin-left: 4vw;
}

.m-l-5 {
  margin-left: 5vw;
}